:root {
    font-size: 16px;
}

body {
    font-family: 'Roboto', serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid gray;
}

.header-logo {
    font-size: 48px;
}

.header-title {
    font-size: 48px;
}

.header-links {
    display: flex;
    flex-direction: row;
}

.screen-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*FIXME*/
#screen {
    overflow: scroll;
    height: 32rem;
    scroll-behavior: auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#first {
    justify-content: space-evenly;
    gap: 20rem;
    font-size: 2rem;
    font-weight: bold;
}
.guess {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20rem;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40rem;
}

.hand-rank {
    font-size: 48px;
    width: 15rem;
}

/* height/width ratio for card = 1.4 */
.card {
    height: 8.4rem;
    width: 6rem;
    border: 2px solid black;
    border-radius: .7rem;
    background-image: url("Assets/Cards/diamonds_ace.svg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.red {
    border: 10px solid red;
}
.yellow {
    border: 10px solid yellow;
}
.green {
    border: 10px solid green;
}
.back {
    background-image: url("Assets/Cards/back.svg");
}
.btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10rem;
}

.suit-btn-container {
    display: flex;
    flex-direction: column;
}

.suit-btn {
    width: 6rem;
    height: 6rem;
    font-size: 5rem;
}

.rank-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank-btn {
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
}
.top {
    display: flex;
}
.bottom {
    display: flex;
}
.guess-btn-container {
    display: flex;
    flex-direction: column;
}

.guess-btn {
    width: 8rem;
    height: 4rem;
    font-size: 1.5rem;
}
