body {
    font-family: 'Roboto', serif;
    background-color: darkgreen;
}

.container {
    display: flex;
    flex-direction: column;
}

/** {*/
/*    border: 1px solid black;*/
/*}*/

.header {
    display: flex;
    flex-direction: row;
    background-color: darkgreen;
    color: red;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.header-logo {
    font-size: 48px;
}

.header-title {
    font-size: 48px;
}

.header-links {
    display: flex;
    flex-direction: row;
}
